In [17]:
import pandas as pd

In [18]:
manual_data = pd.read_csv('../MANUAL/ManualAnnotations_ALL.csv')
automated_data = pd.read_csv('../AutomatedAnnotations_ALL.csv')

In [19]:
manual_data.head()

,Image,FolderNames,Age_A1,Gender_A1,Ethnicity_A1,Age_A2,Gender_A2,Ethnicity_A2,Age_A3,Gender_A3,Ethnicity_A3
0,image0001063.jpg,Anger,Baby (0-1),Man,White,Baby (0-1),Man,White,Baby (0-1),Man,White
1,image0003108.jpg,Anger,Middle-aged Adult (30-49),Man,Middle Eastern,Middle-aged Adult (30-49),Man,Middle Eastern,Middle-aged Adult (30-49),Man,Middle Eastern
2,image0006264.jpg,Contempt,Middle-aged Adult (30-49),Woman,Black,Young Adult (20-29),Woman,Black,Young Adult (20-29),Woman,Black
3,image0013196.jpg,Contempt,Elderly (65+),Man,Asian,Elderly (65+),Man,Asian,Elderly (65+),Man,Asian
4,image0019021.jpg,Contempt,Young Adult (20-29),Woman,Asian,Young Adult (20-29),Woman,Asian,Young Adult (20-29),Woman,Asian

In [20]:
automated_data.head()

        datasetName folderName     imageName  Age Gender   Race
0  AffectNet - Test      anger  image0000006   30  Woman  white
1  AffectNet - Test      anger  image0000060   34    Man  white
2  AffectNet - Test      anger  image0000061   44    Man  white
3  AffectNet - Test      anger  image0000066   49    Man  white
4  AffectNet - Test      anger  image0000106   30    Man  black